.single-board-page-container {
  background-color: white;
  height: 100%;
  padding-bottom: 4rem;
}

.boards-details-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.single-board-main-container-pins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.board-details-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ellipsis-container {
  background-color: #efefef;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 1rem;
}

.ellipsis-container:hover {
  background-color: lightgray;
}

.board-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-details-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.single-board-page-dropdown {
  position: absolute;
  top: 10rem;
  left: 50%;
  width: 11.5rem;
  height: 7rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px 1px lightgray;
  background-color: white;
}

.single-board-page-dropdown li {
  list-style-type: none;
  margin: 0.35rem 0rem;
  display: flex;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.single-board-page-dropdown ul {
  margin: 0rem;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.board-options-text {
  font-weight: lighter;
  font-size: 12px;
}

.board-option-buttons {
  cursor: pointer;
  /* border: 1px solid black; */
  width: 100%;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.board-option-buttons:hover {
  background-color: lightgray;
}

.organize-container-main {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  align-items: center;
  cursor: pointer;
}

.organize-container-main span {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.organize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  /* border: black 1px solid; */
  border-radius: 1rem;
  background-color: #efefef;
  font-size: 30px;
}
